<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegaptips.googleoauth" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GoogleOauthPhonegap</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@callback.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
	<plugin name="org.apache.cordova.console" spec="0.2.11"/>
    	<plugin name="org.apache.cordova.device" spec="0.2.3" />
    	
    	<plugin name="nl.x-services.plugins.googleplus" spec="1.0.7" source="pgb" />
		 <plugin name="org.apache.cordova.inappbrowser" spec="0.5.2"  />
		 
    <access origin="*" />
	 <preference name="phonegap-version" value="3.7.0" /> 
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
